@model UpdatePasswordVM

@{
    ViewBag.Title = "Update Password";
}

@section head {
    <style>

        footer {
            display: none;
        }

        main > h1 {
            color: whitesmoke;
        }

        #btn {
            transition: all .5s ease;
            width: 85px;
            border-radius: 30px;
            color: #008080;
            font-weight: 600;
            background-color: #fff;
            border: 1px solid #008080;
            text-transform: uppercase;
            cursor: pointer;
        }

            #btn:hover, #btn:focus {
                background-color: #008080;
                color: #fff;
            }

        .form > label {
            background-color: transparent;
        }

        .form > input, textarea, select {
            width: 100%;
            color: whitesmoke;
            border-left: 0;
            border-top: 0;
            border-right: 0;
            border-bottom: 1px solid #008080;
            outline: none;
            background: transparent;
        }

    </style>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

<form class="form" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Current"></label>
   <div>
        <input asp-for="Current" autocomplete="current-password" required="" id="id_password1" style="width: 100%; color: whitesmoke; border-left: 0; border-top: 0; border-right: 0; border-bottom: 1px solid #008080; outline: none; background: transparent; ">
        <i class="far fa-eye" id="togglePassword1" style="margin: -22px 0px 25px 170px; cursor: pointer; position: absolute; color: whitesmoke;"></i>
   </div>
    <span asp-validation-for="Current"></span>
   


    <label asp-for="New"></label>
    <div>
        <input asp-for="New" autocomplete="current-password" required="" id="id_password2" style="width: 100%; color: whitesmoke; border-left: 0; border-top: 0; border-right: 0; border-bottom: 1px solid #008080; outline: none; background: transparent; ">
        <i class="far fa-eye" id="togglePassword2" style="margin: -22px 0px 25px 170px; cursor: pointer; position: absolute; color: whitesmoke;"></i>
    </div>
    <span asp-validation-for="New"></span>

    <label asp-for="Confirm"></label>
    <div>
        <input asp-for="Confirm" autocomplete="current-password" required="" id="id_password3" style="width: 100%; color: whitesmoke; border-left: 0; border-top: 0; border-right: 0; border-bottom: 1px solid #008080; outline: none; background: transparent; ">
        <i class="far fa-eye" id="togglePassword3" style="margin: -22px 0px 25px 170px; cursor: pointer; position: absolute; color: whitesmoke;"></i>
    </div>
    <span asp-validation-for="Confirm"></span>
    <br>
    <section>
        <button id="btn">Update</button>
        <button type="reset" id="btn">Reset</button>
    </section>

    <script>
        const togglePassword1 = document.querySelector('#togglePassword1');
        const password1 = document.querySelector('#id_password1');

        togglePassword1.addEventListener('click', function (e) {
            const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
            password1.setAttribute('type', type);

            this.classList.toggle('fa-eye-slash');
        })
    </script>

    <script>
        const togglePassword2 = document.querySelector('#togglePassword2');
        const password2 = document.querySelector('#id_password2');

        togglePassword2.addEventListener('click', function (e) {
            const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
            password2.setAttribute('type', type);

            this.classList.toggle('fa-eye-slash');
        })
    </script>

    <script>
        const togglePassword3 = document.querySelector('#togglePassword3');
        const password3 = document.querySelector('#id_password3');

        togglePassword3.addEventListener('click', function (e) {
            const type = password3.getAttribute('type') === 'password' ? 'text' : 'password';
            password3.setAttribute('type', type);

            this.classList.toggle('fa-eye-slash');
        })
    </script>
</form>
