@model EnterChatVM

@{
    ViewBag.Title = "Enter Chat Room";
}

@section head {
    <style>

        footer {
            display: none;
        }

        main > h1 {
            display: none;
        }

        body {
            background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
        }

        #btn {
            transition: all .5s ease;
            border-radius: 30px;
            color: #008080;
            font-weight: 600;
            background-color: #fff;
            border: 1px solid #008080;
            text-transform: uppercase;
            cursor: pointer;
        }

        #btn:hover, #btn:focus {
            background-color: #008080;
            color: #fff;
        }

        #reset {
            transition: all .5s ease;
            border-radius: 30px;
            color: #008080;
            font-weight: 600;
            background-color: #fff;
            border: 1px solid #008080;
            text-transform: uppercase;
            cursor: pointer;
        }

        #reset:hover, #reset:focus {
            background-color: #008080;
            color: #fff;
        }

        .row > h2 {
            color: #008080;
            text-align: left;
            font-weight: bolder;
        }

    </style>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">


<form class="form" method="post">
    <div class="login-form">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="row">
            <h2>Chat Room</h2>
        </div>

        <div class="form-input">
            <input asp-for="RoomId" autofocus placeholder="Room ID">
            <span asp-validation-for="RoomId"></span>
        </div>

        <section>
            <button id="btn">Submit</button>
            <button type="reset" id="reset">Reset</button>
        </section>
    </div>
</form>
