@{
    ViewBag.Title = "Homepage";
}

@section head {

    <style>



        main > h1 {
            text-align: center;
            font-size: 300%;
            font-weight: bolder;
            font-family: Yantramanav Bold;
            color: whitesmoke;
        }

        .font-yantra {
            font-family: 'Yantramanav Medium';
        }

    </style>
}

<div>
    <h2 class="font-yantra" style="font-size:30px; color: whitesmoke;">
        <strong>Our App</strong>
    </h2>
    <p style="color: #FFF9E3;">
        More than 29,000 people in over 20 countries use TarChat to stay in touch with friends and lecturers, anytime and anywhere. TarChat is free and offers simple, secure, reliable messaging and calling, available on phones and websites all over the world.&nbsp;
    </p>

    <br><br>

    <h2 class="font-yantra" style="font-size:30px; color: whitesmoke;">
        <strong>Our Mission</strong>
    </h2>
    <p style="color: #FFF9E3;">
        TarChat started as an alternative to SMS. In addition to voice calls, our products now support sending and receiving a variety of media, including text, photos, videos, documents, and location information. Some of his most personal moments are shared on his TarChat, which is why end-to-end encryption is built into the app. Behind every product decision is our desire to help people communicate without barriers, no matter where they are.&nbsp;
    </p>

    <br><br>

    <h2 class="font-yantra" style="font-size:30px; color: whitesmoke;">
        <strong>Our Team</strong>
    </h2>
    <p style="color: #FFF9E3;">
        TarChat was founded by Christopher and Luiz who had previously spent 15 years combined at Google. TarChat joined TARUMT in 2023, but continues to operate as a separate app with a laser focus on building a messaging service that works fast and reliably anywhere.&nbsp;
    </p>

</div>